<!DOCTYPE html>
<html>
<head>
  <title>GO PELI | ADD TASK</title>
  <link rel="stylesheet" type="text/css" href="add.css">
</head>
<body>
  <div class= "box">

    <div class="right">
      <div class>
        <div class="space">
        </div>
      </div>
          <form class="lbl" >
            <div class="container">
              <label for="topic"><b>{{topic}}</b></label><br><br>
            <label for="task"><b>Task</b></label><br>
            <textarea class="code" type="text" placeholder="task" name='task' required></textarea><br>
            <br>
            <label for="testcase"><b>Test Case(s)</b></label><br>
            <textarea class="code" type="text" placeholder="test case" name='testcases' required></textarea><br>
            <button class="add" type="submit">Add</button><br>
            <label for="hint"><b>Hint(s)</b></label><br>
            <textarea class="code" type="text" placeholder="hint" name='hints' required></textarea><br><button class="add1" type="submit">Add</button><br><br><br>
          </div>
        </form>
        <div>
          <!-- <button class="nxt" type="submit">Next</button>
          <button class="prv" type="submit">Previous</button> -->
      </div>
    </div>

    <div class ="left">
      <div class="imgcontainer">
      <img src="clogo.png.png">
      </div>
      <p> GO PELI was created by Shanese Johnson, Danielle Blake, Jamaila Maitland and Trevani Grant. Our mission is to create a learning tool for computer science students. The objective is to ensure that all students understand the fundamentals of coding from beginner straight through advance.</p>
    <p class= "pp"><em>Copyright &copy; Go PELI Capstone</em></p>

       <!--  <div class="dropdown">
        <button class="dropbtn">Level</button>
          <div class="dropdown-content">
            <a href="#">Level 1</a>
            <a href="#">Level 2</a>
            <a href="#">Level 3</a>
            <a href="#">Level 4</a>
            <a href="#">Level 5</a>
            <a href="#">Level 6</a>
          </div>
        </div><br><br>
 -->
        <button type="submit">New Task</button><br><br>
        <button type="submit">Submit</button><br><br>
        <button type="submit">Back</button>

        <p class= "pp"><em>Level:</em></p>
        <p class= "pp"><em>Task:</em></p>
  </div>
</body>
</html>