{% extends 'base.html' %}

{% block head %}
{{ super() }}
  <title>GO PELI | HOME</title>
  <link rel="stylesheet" type="text/css" href="static/css/home.css">


{% endblock %}

{% block main%}
<div class=box>

	<div class="options">
		 <div class="imgcontainer">
		 	<img src="clogo.png.png">
		  </div>

		<p class="pp"> SELECT A COURSE TO GET STARTED </p>		
		    <button type="submit"></button>
		<p class="pp"> NOW SELECT A TOPIC </p>
			<button type="submit"></button>

	</div>

</div>
{% endblock %}